.card {
  position: relative;
  display: inline;
  border-bottom: 1px dotted black;
}
.cardpicture{visibility: hidden; 
  display: block;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 50%; 
	width: auto;
	height: auto;
	vertical-align: middle;
	border: 0;
  max-height: 510px;
  max-width: 366px;
	-ms-interpolation-mode: bicubic;
}

.card:hover .cardpicture { visibility:visible; }

.cardpicture2{visibility: hidden; 
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%; 
	width: auto;
	height: auto;
	vertical-align: middle;
	border: 0;
  max-height: 510px;
  max-width: 366px;
	-ms-interpolation-mode: bicubic;
}
.card:hover .cardpicture2{ visibility:visible; }

@media only screen and (max-width: 600px) {
  img.cardpicture {

  max-height: 260px;
  max-width: 183px;
  }
    img.cardpicture2 {

  max-height: 260px;
  max-width: 183px;
    }
}
